*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: #17202A;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px 0 80px;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 7px 13px;
    border-radius: 6px;
    transition: 0.5s;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: #566573;
}
.active{
    background-color: #566573;
}
#click{
    display: none;
}
.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display:none ;
    padding: 5px 8px;
    background-color: rgb(186, 24, 111);
    border-radius: 10px;
}

/* Responsive Work Start  */

@media only screen and (max-width:940px) {
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #17202A;
        height: 100vh;
        width: 100%;
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s ease;
    }

    nav ul li{
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover{
        background: none;
        color: red;
    }
    .active{
        background: none;
    }
    .menu-btn{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .menu-btn::before{
        content: "Close";
    }
}



/* Header Section Code Start Hare  */

header{
    background-image: url('photo/wallhaven-q27l97_1920x1080.png');
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* First section of main tag code start hare  */


#first-section{
    background-color: #16213e
}


#services-parent{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 25px;
    padding-bottom: 100px;
}
.single-service{
    background-color: white ;
    text-align: center;
    color: black;
    padding: 30px 20px ;
    border-radius: 10px;
    border: 3px solid green;
    box-shadow: 5px 5px 10px gray;
}
.single-service i{
    font-size: 40px ;
}
.single-service h2{
    margin: 10px 0 ;
    font-weight: bold;
}

.services-title{
    text-align: center;
    color: white;
    padding: 50px 0;
    letter-spacing: 0.2em;
    font-size: 27px;
}


/* First Section Of Nain Tag Media Query Code Start  */


@media only screen and (max-width:688px ) {
     #services-parent{
        display: grid ;
        grid-template-columns: repeat(1 , 1fr);
        grid-gap:10px;
        width: 100%;
     }
}

@media only screen and (min-width:689px) and (max-width:1099px) {
    #services-parent{
        display: grid ;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap:20px;
        width: 100%;
     }
}